html body{
text-align: center;


}
.main{

    background-color: rgb(128, 188, 189);
    height: 2200px; 
}
.main2{
    background-color: rgb(128, 188, 189);
    height: 2300px; 
}
.poga{
background-color:rgb(249, 247, 207);
text-align: center;
width: 150px;
height: 80px;
margin-top: 50px;
border: 2px solid black;
border-radius: 10%;
margin-left: 40px;
font-size: 20px;
}
.teksts{
background-color:rgb(249, 247, 207);
margin: auto;
border: 2px solid black;
height: 400px;
width: 1000px;
font-size: 30px;

}

.bilde{
    position: absolute;
    top: 510px;
    right: 0;


}
.video{
position: absolute;
top: 700px;
left: 100px;
background-color:rgb(213, 240, 193);

border: 5px solid black;

}

 
.footer{
    margin-top: 500px;

}
.mainteksts{
  font-size: 50px;
    
}
.teksts2{
    text-align: center;
    background-color:rgb(249, 247, 207);
left: 100px;
border: 2px solid black;
height: 370px;
width: 1000px;
font-size: 30px;
margin: auto;
    
}
.bilde2{
    position: absolute;
    top: 1500px;
    right: 50px;
    height: 400px;
}
.video2{
    position: absolute;
    top: 1750px;
    left: 100px;
    background-color:rgb(213, 240, 193);
border: 5px solid black;
}
.teksts3{
 background-color:rgb(249, 247, 207);
margin-top: 70px;
border: 2px solid black;
height: 250px;
width: 1000px;
font-size: 30px;
margin-left: 40px;
}
.bilde3{
    position: absolute;
    margin-top: -260px;
    right: 50px;
    height: 400px;
    width: 900px;
}
.virs{
    font-size: 40px;
  
}
.atsauce{
    font-size: 20px;
    margin-top: 500px;
    background-color:rgb(170, 217, 187);
    border: 2px solid black;
    height: 35px;
    width: 650px;
    margin-left: 750px;
   
}
.virs2{
    font-size: 30px;
    margin-top: 350px;
    margin-right: 1500px;
    
}
.teksts4{
    background-color:rgb(249, 247, 207);
margin-top: 70px;
border: 2px solid black;
height: 200px;
width: 500px;
font-size: 30px;
margin-left: 40px;

}
.virs3{
    font-size: 30px;
    margin-left: 800px;
    position: absolute;
    top: 920px;
    left: 800px;
}
.teksts5{
    background-color:rgb(249, 247, 207);
    border: 2px solid black;
    height: 200px;
    width: 500px;
    margin-left: 800px;
    position: absolute;
    top: 1100px;
    left: 750px;
    font-size: 30px;
}
.video3{
position: absolute;
top: 1050px;
left: 750px;
background-color: rgb(213, 240, 193);
border: 5px solid black;
}
.teksts6{
    background-color:rgb(249, 247, 207);
    margin-top: 100px;
    border: 2px solid black;
    font-size: 30px;
   margin-left: 300px;
    height: 950px;
    width: 1600px;
}
.poga2{
    background-color:rgb(249, 247, 207);
text-align: center;
width: 100px;
height: 80px;
margin-top: 50px;
border: 4px solid black;
border-radius: 10%;
margin-left: 40px;
font-size: 20px;
}