html body{
text-align: center;


}
.main{

    background-color: rgb(128, 188, 189);
    height: 5000px; ;
}
.poga{
background-color:rgb(249, 247, 207);
text-align: right;
width: 100px;
height: 50px;
margin-top: 50px;
border: 2px solid black;
border-radius: 10%;
}
.teksts{
background-color:rgb(249, 247, 207);
margin: auto;
border: 2px solid black;
height: 400px;
width: 1000px;
font-size: 30px;

}

.bilde{
    position: absolute;
    top: 500px;
    right: 0;


}
.video{
position: absolute;
top: 700px;
left: 100px;
background-color:rgb(249, 247, 207);

border: 5px solid black;

}

 
.footer{
    margin-top: 500px;

}
.mainteksts{
  font-size: 50px;
    
}
.teksts2{
    text-align: center;
    background-color:rgb(249, 247, 207);
left: 100px;
border: 2px solid black;
height: 370px;
width: 1000px;
font-size: 30px;
margin: auto;
    
}
.bilde2{
    position: absolute;
    top: 1300px;
    right: 50px;
    height: 400px;
}
.video2{
    position: absolute;
    top: 1550px;
    left: 100px;
    background-color:rgb(249, 247, 207);
border: 5px solid black;
}
.teksts3{
 background-color:rgb(249, 247, 207);
margin-top: 70px;
border: 2px solid black;
height: 250px;
width: 1000px;
font-size: 30px;
margin-left: 40px;
}